
.heading{
    margin-bottom: 50px;
}

.directory-container{
    display: grid;
    grid-column: 1;
    grid-row: auto;
    grid-gap: 15px;
    margin: 200px 50px 200px 50px;

}


.banner{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    border: 5px solid black;
    margin : auto 50px auto 50px;
    list-style: none;
    background-color: rgba(99, 10, 10, 0.685);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    max-width: auto;
    min-width: 300;
    height: 200px;
}

.category-banner{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin : auto 350px auto 350px;
    list-style: none;
    background-color: rgba(99, 10, 10, 0.685);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    height: 250px;
}

.text{
    font-family: Montserrat;
    font-size: 32pt;
    font-weight: bolder;
    flex-basis: auto;
}

.banner-link{
    text-decoration: none; /* no underline */
    color: rgba(8,7,16,0.6);
} 

.category-banner:hover{
    background-image: url("../images/marvel-cinematic-universe-background-edited.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    transition-duration: 1s ;
    
}

.banner:hover{
    background-image: url("../images/marvel-cinematic-universe-background-edited.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 1s ;
}

.text:hover{
    font-family: Montserrat;
    font-size: 32pt;
    font-weight: bolder;
    color: transparent;
}

.banner-link:hover .banner{

    background-image: url("../images/marvel-cinematic-universe-background-edited.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 1s ;
}