@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Rubik+Beastly&display=swap');

/* main container of the page */
.directory-container{
    display: grid;
    grid-column: 1;
    grid-row: auto;
    grid-gap: 15px;
    margin: 200px 50px 200px 50px;

}

/* flex containers for the banners */
.banner{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    border: 5px solid black;
    margin : auto 50px auto 50px;
    list-style: none;
    background-color: rgba(99, 10, 10, 0.685);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    max-width: auto;
    min-width: 300;
    height: 200px;
}

/* flex containers for the banners */
.category-banner{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin : auto 350px auto 350px;
    list-style: none;
    background-color: rgba(99, 10, 10, 0.685);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    height: 250px;
}

.text{
    font-family: 'Bebas Neue', cursive;
    font-size: 44pt;
    font-weight: bolder;
    flex-basis: auto;
    color:black;
    padding: 10px 10px 10px 10px;
}

.banner-link{
    text-decoration: none; /* no underline */
} 

/* hover animations for the boxes */
.category-banner:hover{
    background-image: url("../images/marvel-cinematic-universe-background-edited.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    transition-duration: 1s ; 
}

.banner:hover{
    background-image: url("../images/marvel-cinematic-universe-background-edited.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 1s ;
}

.banner:hover .text{
    font-size: 44pt;
    font-weight: bolder;
    color: white;
    background-color: red;
    padding: 10px 10px 10px 10px;
}

.category-banner:hover .text{
    font-size: 44pt;
    font-weight: bolder;
    color: white;
    background-color: red;
    padding: 10px 10px 10px 10px;
}
