 /* Refactored from https://codepen.io/oliviale/pen/YgzNzK */
 /* Social media icons taken from https://codepen.io/mattbhenley/pen/aRKmgR */
 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
    box-sizing: border-box;
    margin: 0px;
}
.index-container {
    text-align: center;
    text-transform: uppercase;
    scroll-snap-type: y mandatory;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}
h1 {
    position: relative;
    color: #fff;
    font: 900 60px Montserrat;
    text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.window {
    position: relative;
    padding: 5em;
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: center;
}
.window:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
    opacity: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.window:hover:before {
    opacity: 0.5;
}

.header-container {
    display: grid;
    grid: 100% / repeat(8, 1fr);
    padding: 5em 15em;
    background: url("../images/index-background.jpg") center center / cover;
}
.header-container .hover {
    position: relative;
    display: grid;
    place-items: center;
}
.header-container h1 {
    color: transparent;
    text-align: 0 1px 1px;
    -webkit-text-stroke: 2px #fff;
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header-container .hover:hover h1 {
    transform: scale(1.5);
    color: #fff;
    -webkit-text-stroke: 2px transparent;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

header .header-container{
    height: 285px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
}
nav li {
    float: left;
}
nav a {
    font-size: 25px;
    text-decoration: none;
    display: block;
    margin: 5px 0 0 20px;
    padding: 12px;
    color: transparent;
    text-align: 0 1px 1px;
    -webkit-text-stroke: 1.3px #fff;
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav a:hover {
    color: #ffffff;
    background-color: red;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 5px;
    color: #fff;
}
.footer-content{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    color: white;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 5px;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.social-container {
    width: 400px;
    margin: 0px;
    text-align: center;
}
.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}
.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}
.window .footer-content li{
    margin: 1em;
}
.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}
.social-icons a {
    display: inline-block;
}
.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #b30548, #ff0000);
    transition: all 265ms ease-out;
}
.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #ff0000;
    background: -webkit-linear-gradient(45deg, #b30548, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.copyright{
    background: #000;
    width: 100vw;
    padding: 3px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.copyright p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .copyright a{
   color:#ff0000;
   font-size: 16px;
   text-decoration: none;
 }
 .copyright span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }