<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout-page</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header-footer.css">
    <link rel="stylesheet" href="../static/css/directory.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if not session %}
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
            {% else %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
            <li><a href="/directory">Directory</a></li>
            <li><a href="/thread">Thread</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>

    <header>
        <div class="header-container">
            <div class="hover"><h1>M</h1></div>
            <div class="hover"><h1>A</h1></div>
            <div class="hover"><h1>R</h1></div>
            <div class="hover"><h1>V</h1></div>
            <div class="hover"><h1>E</h1></div>
            <div class="hover"><h1>R</h1></div>           
            <div class="hover"><h1>S</h1></div>          
            <div class="hover"><h1>E</h1></div>
        </div>
    </header>


        
    {% block body %} {% endblock %}

    <footer>
        <div class="footer-content">
            <h3>Contact Us!</h3>
            <p>aaroncardiel@techexchange.in</p>
            <p>oscar@techexchange.in</p>

            <div class="social-container">
                <ul class="social-icons">
                    <li><a href="https://www.linkedin.com/in/aaron-cardiel-35352b1b1/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/oscar-zambrano-79bb671b7/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>copyright &copy;2022 <a href="/index">Marverse</a></p>
        </div>
    </footer>

</body>

</html>