<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout-page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<header>
    <a href="/">Home</a>
    {% if not session %}
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
    {% else %}
    <a href="/logout">Logout</a>
    {% endif %}
    <a href="/directory">Directory</a>
    <a href="/thread">Thread</a>
    <a href="/profile">Profile</a>
</header>

<body>
    
{% block body %} {% endblock %}

</body>

</html>