{% extends "base.html" %}

{% block body %}
<h1>Directory</h1>
    {% if show_all %}
    {# show all branch #}
    <div class="directory-container">
        <h2>movies</h2>
        {% for film in films %}
        <a href={{ url_for( 'thread' , title = film.Name ) }}>
            <div class="film">
                <p>{{film.Name}}</p>
                <p>{{film.Rating}}</p>
            </div>
        </a>
        {% endfor %}

        <div class="directory-container">
            <h2>shows</h2>
            {% for show in shows %}
            <a href={{ url_for('directory' , title = show.Name) }}>
                <div class="show">
                    <p>{{show.Name}}</p>
                    <p>{{show.Rating}}</p>
                    <!-- <p>{{show.Posts}}</p> -->
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if not show_all %}
    {# only episodes branch #}
    <div class="directory-container">
        <h2>{{title}}</h2>
        {% for show in shows %}
        <p>{{show.Name}}</p>
        <p>{{show.Rating}}</p>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}