<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="index-container">
        <div class="window letter-container">
            <div class="hover">
                <h1>M</h1>
            </div>
            <div class="hover">
                <h1>A</h1>
            </div>
            <div class="hover">
                <h1>R</h1>
            </div>
            <div class="hover">
                <h1>V</h1>
            </div>
            <div class="hover">
                <h1>E</h1>
            </div>
            <div class="hover">
                <h1>R</h1>
            </div>
            <div class="hover">
                <h1>S</h1>
            </div>
            <div class="hover">
                <h1>E</h1>
            </div>
        </div>

        <div class="window footer">
            <h1>Footer should go here</h1>
        </div>
    </div>
    
</body>
</html>