{% extends "base.html" %}

{% block body %}

<form class = "container" method="POST" action="/login">    
    <h3>Log In Here</h3>

    <label for="email/password">Email/Password</label>
    <input type="text" name="Email/Username" value="" placeholder="Enter Email/Username" >
    <label for="password">Password</label>
    <input type="password" name="Password" value="" placeholder="Enter Password">

    {% if prompt %}
    <p3>{{prompt}}</p3>
    {% endif %}

    <button>Log In</button>
</form>

{% endblock %}