{% extends "base.html" %}

{% block body %}
    
    {% if category == 0 %}
        <h1>Film</h1>
        <div class="directory-container">
            {% for content in contents %}
                <div class="film">
                    <a href={{url_for( 'thread' , value= '2',  title = content.Name )}}>
                        <p>{{ content.Name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% elif category == 1 %}
        <h1>Shows</h1>
        <div class="directory-container">
            {% for content in contents %}
                <div class="show">
                    <a href={{url_for('sub_directory' , film = '0')}}>
                        <p>{{ content.Name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <h1>{{title}}</h1>
    <h1>episode branch</h1>
    <div class="directory-container">
        {% for episode in episode %}
            <div class="episode">
                <a href="">
                    <p>{{episode.Name}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}

