{% extends "base.html" %}

{% block body %}
    
    {% if category == 0 %}
        <h1>Film</h1>
        <div class="directory-container">
            {% for content in contents %}
                <div class="film"
                    <a href="">
                        <p>{{ content.Name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>Shows</h1>
        <div class="directory-container">
            {% for content in contents %}
                <div class="show">
                    <a href="">
                        <p>{{ content.Name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

